<h1>Listado de Héroes</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">

  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let heroe of heroes$ | async">

    <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>
  </div>
</div>
